*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: whitesmoke;
}
a{
    text-decoration: none;
    color: inherit;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:black;
    padding: 10px 20px;
    color:#fff;
    padding: 20px;
}
.nav{
    display: flex;
    align-items: end;
    margin-left:15px;
    font-size: 13px;
    color:#c4c4c4;

}
.nav h1{
    color: #fff;
    font-size: 14px;
}
nav img{
    width: 90px;
}